TetrisClient/SilverlightClient/Service References/TetrisWebService/TetrisWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://M32COM-Tetris.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://M32COM-Tetris.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://M32COM-Tetris.org/">
      <s:element name="StartGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="player" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StartGameResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGameState">
        <s:complexType />
      </s:element>
      <s:element name="GetGameStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetGameStateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBoard">
        <s:complexType />
      </s:element>
      <s:element name="GetBoardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBoardResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextShape">
        <s:complexType />
      </s:element>
      <s:element name="GetNextShapeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNextShapeResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveBlockLeft">
        <s:complexType />
      </s:element>
      <s:element name="MoveBlockLeftResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoveBlockLeftResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveBlockRight">
        <s:complexType />
      </s:element>
      <s:element name="MoveBlockRightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoveBlockRightResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RotateBlock">
        <s:complexType />
      </s:element>
      <s:element name="RotateBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RotateBlockResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveBlockDown">
        <s:complexType />
      </s:element>
      <s:element name="MoveBlockDownResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MoveBlockDownResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DropBlock">
        <s:complexType />
      </s:element>
      <s:element name="DropBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DropBlockResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScore">
        <s:complexType />
      </s:element>
      <s:element name="GetScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetScoreResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHighScores">
        <s:complexType />
      </s:element>
      <s:element name="GetHighScoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHighScoresResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitScore">
        <s:complexType />
      </s:element>
      <s:element name="SubmitScoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StartGameSoapIn">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="StartGameSoapOut">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="GetGameStateSoapIn">
    <wsdl:part name="parameters" element="tns:GetGameState" />
  </wsdl:message>
  <wsdl:message name="GetGameStateSoapOut">
    <wsdl:part name="parameters" element="tns:GetGameStateResponse" />
  </wsdl:message>
  <wsdl:message name="GetBoardSoapIn">
    <wsdl:part name="parameters" element="tns:GetBoard" />
  </wsdl:message>
  <wsdl:message name="GetBoardSoapOut">
    <wsdl:part name="parameters" element="tns:GetBoardResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextShapeSoapIn">
    <wsdl:part name="parameters" element="tns:GetNextShape" />
  </wsdl:message>
  <wsdl:message name="GetNextShapeSoapOut">
    <wsdl:part name="parameters" element="tns:GetNextShapeResponse" />
  </wsdl:message>
  <wsdl:message name="MoveBlockLeftSoapIn">
    <wsdl:part name="parameters" element="tns:MoveBlockLeft" />
  </wsdl:message>
  <wsdl:message name="MoveBlockLeftSoapOut">
    <wsdl:part name="parameters" element="tns:MoveBlockLeftResponse" />
  </wsdl:message>
  <wsdl:message name="MoveBlockRightSoapIn">
    <wsdl:part name="parameters" element="tns:MoveBlockRight" />
  </wsdl:message>
  <wsdl:message name="MoveBlockRightSoapOut">
    <wsdl:part name="parameters" element="tns:MoveBlockRightResponse" />
  </wsdl:message>
  <wsdl:message name="RotateBlockSoapIn">
    <wsdl:part name="parameters" element="tns:RotateBlock" />
  </wsdl:message>
  <wsdl:message name="RotateBlockSoapOut">
    <wsdl:part name="parameters" element="tns:RotateBlockResponse" />
  </wsdl:message>
  <wsdl:message name="MoveBlockDownSoapIn">
    <wsdl:part name="parameters" element="tns:MoveBlockDown" />
  </wsdl:message>
  <wsdl:message name="MoveBlockDownSoapOut">
    <wsdl:part name="parameters" element="tns:MoveBlockDownResponse" />
  </wsdl:message>
  <wsdl:message name="DropBlockSoapIn">
    <wsdl:part name="parameters" element="tns:DropBlock" />
  </wsdl:message>
  <wsdl:message name="DropBlockSoapOut">
    <wsdl:part name="parameters" element="tns:DropBlockResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoreSoapIn">
    <wsdl:part name="parameters" element="tns:GetScore" />
  </wsdl:message>
  <wsdl:message name="GetScoreSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoreResponse" />
  </wsdl:message>
  <wsdl:message name="GetHighScoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetHighScores" />
  </wsdl:message>
  <wsdl:message name="GetHighScoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetHighScoresResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitScoreSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitScore" />
  </wsdl:message>
  <wsdl:message name="SubmitScoreSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitScoreResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="TetrisWebServiceSoap">
    <wsdl:operation name="StartGame">
      <wsdl:input message="tns:StartGameSoapIn" />
      <wsdl:output message="tns:StartGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <wsdl:input message="tns:GetGameStateSoapIn" />
      <wsdl:output message="tns:GetGameStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBoard">
      <wsdl:input message="tns:GetBoardSoapIn" />
      <wsdl:output message="tns:GetBoardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextShape">
      <wsdl:input message="tns:GetNextShapeSoapIn" />
      <wsdl:output message="tns:GetNextShapeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveBlockLeft">
      <wsdl:input message="tns:MoveBlockLeftSoapIn" />
      <wsdl:output message="tns:MoveBlockLeftSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveBlockRight">
      <wsdl:input message="tns:MoveBlockRightSoapIn" />
      <wsdl:output message="tns:MoveBlockRightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RotateBlock">
      <wsdl:input message="tns:RotateBlockSoapIn" />
      <wsdl:output message="tns:RotateBlockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveBlockDown">
      <wsdl:input message="tns:MoveBlockDownSoapIn" />
      <wsdl:output message="tns:MoveBlockDownSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DropBlock">
      <wsdl:input message="tns:DropBlockSoapIn" />
      <wsdl:output message="tns:DropBlockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScore">
      <wsdl:input message="tns:GetScoreSoapIn" />
      <wsdl:output message="tns:GetScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHighScores">
      <wsdl:input message="tns:GetHighScoresSoapIn" />
      <wsdl:output message="tns:GetHighScoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitScore">
      <wsdl:input message="tns:SubmitScoreSoapIn" />
      <wsdl:output message="tns:SubmitScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TetrisWebServiceSoap" type="tns:TetrisWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartGame">
      <soap:operation soapAction="http://M32COM-Tetris.org/StartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <soap:operation soapAction="http://M32COM-Tetris.org/GetGameState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoard">
      <soap:operation soapAction="http://M32COM-Tetris.org/GetBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextShape">
      <soap:operation soapAction="http://M32COM-Tetris.org/GetNextShape" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveBlockLeft">
      <soap:operation soapAction="http://M32COM-Tetris.org/MoveBlockLeft" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveBlockRight">
      <soap:operation soapAction="http://M32COM-Tetris.org/MoveBlockRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RotateBlock">
      <soap:operation soapAction="http://M32COM-Tetris.org/RotateBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveBlockDown">
      <soap:operation soapAction="http://M32COM-Tetris.org/MoveBlockDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropBlock">
      <soap:operation soapAction="http://M32COM-Tetris.org/DropBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScore">
      <soap:operation soapAction="http://M32COM-Tetris.org/GetScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHighScores">
      <soap:operation soapAction="http://M32COM-Tetris.org/GetHighScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitScore">
      <soap:operation soapAction="http://M32COM-Tetris.org/SubmitScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://M32COM-Tetris.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TetrisWebServiceSoap12" type="tns:TetrisWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://M32COM-Tetris.org/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameState">
      <soap12:operation soapAction="http://M32COM-Tetris.org/GetGameState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoard">
      <soap12:operation soapAction="http://M32COM-Tetris.org/GetBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextShape">
      <soap12:operation soapAction="http://M32COM-Tetris.org/GetNextShape" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveBlockLeft">
      <soap12:operation soapAction="http://M32COM-Tetris.org/MoveBlockLeft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveBlockRight">
      <soap12:operation soapAction="http://M32COM-Tetris.org/MoveBlockRight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RotateBlock">
      <soap12:operation soapAction="http://M32COM-Tetris.org/RotateBlock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveBlockDown">
      <soap12:operation soapAction="http://M32COM-Tetris.org/MoveBlockDown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropBlock">
      <soap12:operation soapAction="http://M32COM-Tetris.org/DropBlock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScore">
      <soap12:operation soapAction="http://M32COM-Tetris.org/GetScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHighScores">
      <soap12:operation soapAction="http://M32COM-Tetris.org/GetHighScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitScore">
      <soap12:operation soapAction="http://M32COM-Tetris.org/SubmitScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://M32COM-Tetris.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TetrisWebService">
    <wsdl:port name="TetrisWebServiceSoap" binding="tns:TetrisWebServiceSoap">
      <soap:address location="http://www.simonjstanford.co.uk/tetriswebservice/TetrisWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TetrisWebServiceSoap12" binding="tns:TetrisWebServiceSoap12">
      <soap12:address location="http://www.simonjstanford.co.uk/tetriswebservice/TetrisWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>